$body-bg: #0f0f0f;
$main-color: #ff0000;
$txt-color: #dcdcdc;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$header-height: 8rem;
$header-shrink-height: 5rem;
$boder-radius: 30px;
$mobile-width: 767px;
$tablet-width: 1023px;

$font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
