h1.box-title {
    margin-bottom: 20px;
    font-weight: 400;
    text-transform: uppercase;
    background: #181818;
    box-shadow: 1px 2px 7px #44424254;
    padding: 7px 10px;
    font-size: 18px;
    span.title {
    }
    span.keyword {

    }
}
.film-not-found {
    border: 1px solid #e8a568;
    padding: 10px;
}